
* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #0058be;
  --surface-color: #f7f9fb;
  --on-surface-variant: #424754;
  
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--surface-color);
  color: #191c1e;
}

.navbar-custom {
  background-color: rgba(247, 249, 251, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #c2c6d6;
}

.nav-link-custom {
  font-weight: 500;
  color: var(--on-surface-variant);
  text-decoration: none;
  transition: 0.2s;
}
.nav-link-custom:hover,
.nav-link-custom.active {
  color: var(--primary-color);
}

.hero-img-container {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #c2c6d6;
  background-color: white;
  padding: 12px;
}

.hero-img-container img {
  border-radius: 12px;
  transition: 1s;
  filter: grayscale(100%);
  object-fit: cover;
}

.hero-img-container img:hover {
  filter: grayscale(0%);
}

.soft-shadow {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

.project-card {
  background-color: white;
  border: 1px solid #c2c6d6;
  border-radius: 16px;
  transition: 0.3s;
  padding: 30px;
}

.project-card-2 {
  background-color: white;
  border: 1px solid #c2c6d6;
  border-radius: 16px;
  transition: 0.3s;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 20px;
}

.project-card-3 {
  background-color: white;
  border: 1px solid #c2c6d6;
  border-radius: 16px;
  transition: 0.3s;
  height: 200px;
  padding: 40px;
}

.project-card-2:hover {
  border-color: var(--primary-color);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.08);
}

.project-card-3:hover {
  border-color: var(--primary-color);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.08);
}

.project-card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.08);
}

.badge{
background-color: rgba(128, 128, 128, 0.5);  
  border: 1px solid rgba(0, 88, 190, 0.1);

}

.badge-tech {
  background-color: rgba(128, 128, 128, 0.5);  
  border: 1px solid rgba(0, 88, 190, 0.1);
  font-size: 12px;
  font-weight: 700;
}

.bg-card {
  background-color: rgba(199, 199, 199, 0.5);
}

.bg-card-2 {
  background-color: rgba(199, 199, 199, 0.1);
}
